@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.App {
  font-family: 'SUITE-Regular';
}

/* --white: #eee4e4;
--moonstone: #5c9eadff;
--prussian-blue: #0b3142ff;
--mantis: #73bd72ff;
--orange-pantone: #f26419ff; */